#!/usr/bin/make -f
# -*- makefile -*-

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

%:
	dh $@

override_dh_auto_build:
	tsc
	tsc -p tsconfig-esm.json
	echo '{"type":"module"}' >dist/mjs/package.json
	cp debian/index.js .
